body {
    font-family: Arial, sans-serif;
}
.cartelera-img {
    height: 500px;
    /* Altura fija para todas las imágenes */
    object-fit: cover;
    /* Asegura que la imagen cubra el área asignada, recortándola si es necesario */
    width: 100%;
    /* Asegura que la imagen cubra todo el ancho del contenedor */
}

.exhibidos {
    height: 400px;
    /* Altura fija para todas las imágenes */
    object-fit: cover;
    /* Asegura que la imagen cubra el área asignada, recortándola si es necesario */
    width: 100%;
    /* Asegura que la imagen cubra todo el ancho del contenedor */
}

.card {
    border: none;

}

.card img {
    height: 300px;
    /* Altura fija para todas las imágenes */
    object-fit: cover;
    /* Asegura que la imagen cubra el área asignada, recortándola si es necesario */
    width: 100%;
    /* Asegura que la imagen cubra todo el ancho del contenedor */
}

    